<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">QSheet Bio</h5>
        <p class="grey-text text-lighten-4">Develop by Houssam Haned & Matthieu Desprez for cesi works.</p>

      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Social Network</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/houssam38">GitHub Houssam</a></li>
          <li><a class="white-text" href="https://github.com/Edistra">GitHub Matthieu</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with Love in Grenoble
    </div>
  </div>
</footer>
