<div class="container">
    <form novalidate>
        <div class="form-group">
            <input type="text" class="sheet-name center" placeholder="Enter name" ng-model="sheetDetail.sheet.name">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea" ng-model="sheetDetail.sheet.description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="question-container" dragula="'bag-1'" dragula-model="sheetDetail.sheet.questions">
                <div class="clear question" ng-repeat="(key, question) in sheetDetail.sheet.questions">
                    <div class="input-field">
                        <i class="material-icons prefix">question_answer</i>
                        <input type="text" ng-model="question.name">
                        <div ng-repeat="(akey, answer) in question.answers" class="ng-isolate-scope">
                            <div class="answer">
                                <div class="input-field left">
                                    <input type="checkbox" id="{{key}}-{{akey}}" ng-model="answer.right">
                                    <label for="{{key}}-{{akey}}"></label>
                                </div>
                                <div class="input-field left">
                                    <input type="text" ng-model="answer.value">
                                </div>
                            </div>
                        </div>
                        <a class="btn-delete-question btn-floating waves-effect waves-light btn right red" ng-click="sheetDetail.deleteQuestion(key)"><i class="material-icons left">delete</i></a>
                        <a class="btn-add-answer btn-floating waves-effect waves-light btn right" ng-click="sheetDetail.addAnswer(question.answers)"><i class="material-icons left">add</i></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <button class="waves-effect waves-light btn right" ng-click="sheetDetail.save()"><i class="material-icons left">done</i>Submit</button>
        <button class="btn-add-question waves-effect waves-light btn right" ng-click="sheetDetail.addQuestion()"><i class="material-icons left">add</i>Add Question</button>
    </form>
</div>