<div class="header-container">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">QSheet</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                    </ul>
                    <div *ngIf="!isAuth" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" #username class="form-control" id="username" placeholder="Username">
                            <input type="password" #password class="form-control" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default" (click)="login($event)">Login</button>
                    </div>
                    <div *ngIf="isAuth" class="navbar-form navbar-right">
                        <button href="#" (click)="logout($event)">Logout</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>

<div class="footer-container">
    <footer>
        <span>&copy; 2016</span>
    </footer>
</div>
