<div class="container">

  <div class="section" ng-if="sheetList.sheets.length > 0">
    <div class="row" >

      <div class="col s12 m6">
        <div class="card" ng-repeat="sheet in sheetList.sheets" ng-if="$even">
          <div class="card-content">
            <span class="card-title">{{sheet.name}}</span>
            <p>{{sheet.description}}</p>
          </div>
          <div class="card-action">
            <a ui-sref="sheet/edit({sheetId: sheet._id})" class="edit">Edit</a>
            <a ng-click="sheetList.view(sheet._id)" class="edit">View</a>
            <a ng-click="sheetList.delete(sheet)" class="trash">Delete</a>

          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card" ng-repeat="sheet in sheetList.sheets" ng-if="$odd">
          <div class="card-content">
            <span class="card-title">{{sheet.name}}</span>
            <p>{{sheet.description}}</p>
          </div>
          <div class="card-action">
            <a ui-sref="sheet/edit({sheetId: sheet._id})" class="edit">Edit</a>
            <a ng-click="sheetList.delete(sheet)" class="edit">Delete</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="section" ng-if="sheetList.sheets.length == 0">

    <div class="row section no-pad-bot center" >
      <div class="col s12">
        <br>
        <br>

        <h1 class="header center orange-text">No sheet yet...</h1>
      </div>
      <div class="row center">
        <a ui-sref="sheet/create" id="download-button" class="btn-large waves-effect waves-light orange">Create my First Sheet</a>
      </div>
    </div>


  </div>

  <div ng-if="sheetList.sheets.length > 0" class="fixed-action-btn">
    <a ui-sref="sheet/create" class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>

</div>
